@import "main.css";

.five-days-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tbl-all-days {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.day {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 19%;
}

.current {
    display: flex;
    animation: fade-in 0.5s 1;
}

.tbl-weekday {
    display: flex;
    justify-content: center;
    background: rgb(226, 230, 247);
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 3px 0px 3px 0px;
}

.tbl-day-info {
    display: flex;
    justify-content: center;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.col-tod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-size: 14px;
}

.title {
    display: flex;
    justify-content: center;
    background: rgb(226, 230, 247);
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 3px 0px 3px 0px;
}

.tbl-wind-speed {
    display: flex;
    flex-direction: column;
}

.wind-speed-days {
    display: flex;
    justify-content: space-between;
}

.daily-wind-speed {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 19%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.tbl-precipitation {
    display: flex;
    flex-direction: column;
}

.precipitation-days {
    display: flex;
    justify-content: space-between;
}

.daily-precipitation {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 19%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.nav-arrow {
    align-self: center;
    margin: 5px;
    display: none;
}

.arrows{
    width: 40px;
}

.nav-days {
    display: none;
    justify-content: center;
}

.day-marker {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 3px;
    margin: 0px 2.5px 5px 2.5px;
    cursor: pointer;
}

.day-marker.current {
    background: rgb(226, 230, 247);
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 992px) {
    .day,
    .tbl-wind-speed,
    .tbl-precipitation {
        width: 60%;
    }

    .nav-arrow {
        display: block;
    }

    .nav-days {
        display: flex;
    }

    .tbl-all-days {
        justify-content: space-around;
    }

} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .day {
        width: 90%;
    } 
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .day {
        display: flex;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .day {
        display: flex;
    }
}