@import "main.css";

main {
    padding: 5px;
    display: flex;
    justify-content: center;
}



.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 8.32%;
    border: 1px solid #c0c0c0;
    padding: 10px 0px;
    text-align: center;
}

.month-names .col:nth-child(odd) {
    background: rgb(226, 230, 247);
}

.avg-max .col:nth-child(even) {
    background: rgb(226, 230, 247);
}

.avg-min .col:nth-child(odd) {
    background: rgb(226, 230, 247);
}

.most-max .col:nth-child(even) {
    background: rgb(226, 230, 247);
}

.most-min .col:nth-child(odd) {
    background: rgb(226, 230, 247);
}

.month-names .col:first-child {
    border: none;
    background: none;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 992px) {
    .table {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: 14px;
    }
    
    .row {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 20%;
    }
    
    .col {
        width: 100%;
        border: 1px solid #c0c0c0;
        text-align: center;
        min-height: 40px;
        font-size: 12px;
    }
} 