@import "main.css";

main {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 8.32%;
    border: 1px solid #0097a7;
    padding: 10px 0px;
    text-align: center;
}

.month-names .col:nth-child(odd),
.avg-max .col:nth-child(even),
.avg-min .col:nth-child(odd),
.most-max .col:nth-child(even),
.most-min .col:nth-child(odd) {
    background: #0097a7;
    color: #f8f8ff;
    border: none;
}

.month-names .col:first-child {
    border: none;
    background: none;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 992px) {
    .table {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: 14px;
    }
    
    .row {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 20%;
    }
    
    .col {
        width: 100%;
        border: 1px solid #0097a7;
        text-align: center;
        min-height: 40px;
        font-size: 12px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col {
        font-size: 10px;
    }
}