@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(113, 113, 156);
    background: linear-gradient(to right, rgb(226, 230, 247), rgb(164, 177, 221));
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: column;
}

.main-nav {
    display: flex;
    padding-bottom: 10px;
}

.main-nav > ul {
    margin: 0px;
    padding: 0px;
}

.nav-btn {
    display: inline-block;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.nav-btn.active,
.nav-btn:hover {
    background-color: rgb(226, 230, 247);
}

.nav-btn > a,
.nav-btn > a:hover,
.nav-btn > a:visited {
    text-decoration: none;
    color: rgb(79, 79, 109);
}

.search-bar {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        background: red;    
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        background: green;
        min-width: 600px;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        background: blue;
        min-width: 700px;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        background: orange;
        min-width: 800px;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        background: pink;
        min-width: 1000px;
    }
}

