body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container {
    max-width: 630px;
    border: 1px solid #c0c0c0;
    border-radius: 5px 5px 5px 5px;
}

.navigation {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
}

.nav-btn {
    display: inline-block;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 2px;
}

.nav-btn.active {
    background-color: #c0c0c0;
}

.nav-btn:hover {
    background-color: #c0c0c0;
}

.nav-btn > a,
.nav-btn > a:hover,
.nav-btn > a:visited {
    text-decoration: none;
    color: black;
}

.simple-btn {
    border: 1px solid #c0c0c0;
    background-color: white;
    padding: 5px;
}

.simple-btn:hover {
    cursor: pointer;
}

.simple-btn:active {
    background-color: #e6e6e6;
}

.search-bar {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
}

.search-form {
    float: right;
}

input[type="search"] {
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.main-info {
    padding: 10px;
}

.city-info {
    display: inline-block;
}

.current-temp {
    display: inline-block;
}

.more-info {
    float: right;
}

.inner-nav {
    margin-top: 50px;
}

.timepoint {
    margin-left: 10px;
    margin-right: 33px;
}

.day {
    margin-right: 21px;
    text-align: center;
    display: inline-block;
}

.week-info {
    padding-top: 10px;
}

.footer {
    border-top: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}