body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(113, 113, 156);
    background: linear-gradient(to right, rgb(226, 230, 247), rgb(164, 177, 221));
    font-size: 16px;
}

.container {
    width: 640px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-nav {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
}

.main-nav > ul {
    margin: 0px;
    padding: 0px;
}

.nav-btn {
    display: inline-block;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.nav-btn.active,
.nav-btn:hover {
    background-color: rgb(226, 230, 247);
}

.nav-btn > a,
.nav-btn > a:hover,
.nav-btn > a:visited {
    text-decoration: none;
    color: rgb(79, 79, 109);
}

.search-bar {
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
    overflow: hidden;
    background: rgb(226, 230, 247);
}

.air-pollution {
   font-size:14px;
}

.search-form {
    float: right;
}

input[type="search"] {
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 14px;
    padding: 3px 5px 3px 5px;
}

main{
    padding: 10px;
}

.city-info {
    display: inline-block;
}

.city-info > span {
    display: block;
}

.city-info > span.current-temp {
    display: inline;
}

.curr-cond-img {
    width: 60px;
}

.more-info {
    float: right;
}

.more-info > span {
    display: block;
}

.inner-nav {
    margin-top: 50px;
}

.inner-nav > ul {
    margin: 0px;
    padding: 0px;
}

.inner-nav > ul > li.nav-btn {
    border: 1px solid #c0c0c0;
}

.inner-nav > ul > li.nav-btn.active,
.inner-nav > ul > li.nav-btn:hover {
    background-color: rgb(226, 230, 247);
}

.visualisation {
    text-align: center;
} 

.timepoints {
    display: block;
}

.timepoint {
    margin-left: 10px;
    margin-right: 25px;
}

.chart {
    margin: 0;
}

.day {
    max-width: 63px;
    margin-right: 21px;
    text-align: center;
    display: inline-block;
}

.week-info {
    padding-top: 10px;
}

.city-cnd-img {
    width: 30px;
}

.curr-city-info {
    font-size: 16px;
}

.arrows {
    text-decoration: none;
    display: inline-block;
}

.arrows > img {
    height: 40px;
}

.five-days-table {
    display: inline-block;
}

.date-sun-moon {
    padding-top: 10px;
}

.sun-moon-info {
    margin-top: 10px;
}

.sun-moon-info > article {
    display: inline-block;
}

.sun-moon-info > article > figure {
    margin: 0;
}

.today-sun-moon {
    padding: 10px;
    border: 1px solid #c0c0c0;
    background: rgb(226, 230, 247);
    border-radius: 5px;
}

.today {
    margin-right: 130px;
}

footer {
    border-top: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background: rgb(226, 230, 247);
}