@import "main.css";

.container {
    width: 800px;
}

.air-pollution {
    font-size:14px;
}
 
.city-info {
    display: inline-block;
    font-size: 22px;
}
 
.city-info > span {
    display: block;
}
 
#current-temp {
    display: inline;
}
 
#curr-cond-img {
    width: 60px;
}
 
.more-info {
    float: right;
    font-size: 16px;
}
 
.more-info > span {
    display: block;
}
 
.inner-nav {
    margin-top: 50px;
}
 
.inner-nav > ul {
    margin: 0px;
    padding: 0px;
}
 
.visualisation {
    text-align: center;
    margin-top: 20px;
}

.temp-value, .precip-value, .wind-value {
    display: inline-block;
    width: 90px;
    font-size: 15px;
}

.temp-chart-block {
    display: inline-block;
    width: 90px;
    background: #fff5cc;
    border-top: 2px solid #ffdf60;
}

.precip-chart-block {
    display: inline-block;
    width: 90px;
    height: 20px;
    background: #e7f1fd;
    border-top: 2px solid #1878f0;
}

.wind-image {
    display: inline-block;
    width: 90px;
}

.timepoint {
    display: inline-block;
    width: 90px;
}

.chart {
    display: none;
}

.chart.visible {
    display: inline-block;
}
 
.day {
    max-width: 65px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
}
 
.week-info {
    padding-top: 10px;
}
