@import "main.css";

.search-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.info {
    display: flex;
    padding-bottom: 10px;
}

.city-info {
    width: 50%;
}

.more-info {
    display: flex;
    flex-direction: column;
}

.more-info-text {
    padding-bottom: 40px;
}

.inner-nav {
    display: flex;
    justify-content: space-between;
}

.inner-nav > ul {
    margin: 0px;
    padding: 0px;
}

.visualisation {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        background: red;
    }

    .info, .search-bar {
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        background: green;
        min-width: 600px;
    }

    .city-info {
        width: 30%;
    }
}