@import "main.css";

#air-pollution {
    width: 50%;
}


.info {
    display: flex;
    padding-bottom: 10px;
}

.city-info {
    width: 50%;
    padding: 10px;
    font-size: 20px;
}

.more-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.more-info-text {
    padding-bottom: 40px;
    font-size: 18px;
}

.inner-nav {
    display: flex;
}

.inner-nav > ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.visualisation {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #air-pollution {
        width: 100%;
        text-align: center;
    }

    .info {
        flex-direction: column;
    }

    .city-info {
        width: inherit;
        font-size: 25px;
    }

    .more-info {
        width: inherit;
    }

    .inner-nav > ul {
        width: 100%;
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .city-info {
        width: 30%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .city-info {
        width: 50%;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .city-info {
        width: 50%;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        min-width: 1000px;
    }

    .city-info {
        width: 50%;
    }
}